/* Selection Box */

.selection-box {
  background-color: var(--inputGrey);
  width: 275px;
  height: 325px;
  border-radius: 20px;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.selection-box-text {
  font: 400 24px 'Grenze Gotisch', sans-serif;
  color: var( --textLightGrey);
  cursor: pointer;
  overflow-y: auto;
  padding-bottom: 12px;
}

/* Popup */

.pop-up,
.delete-pop-up,
.spell-pop-up {
  /* Position */
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Styling */
  border-radius: 10px;
}

.pop-up-styling {
  background-color: var(--textGrey);
  height: 500px;
  width: 500px;
}

.pop-up-header {
    background-color: var(--inputGrey);
    width: 100%;
    padding: 10px;
}

.pop-up-body {
    padding: 10px;
}

.pop-up-overlay {
    z-index: 9;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.pop-up-title,
.pop-up-button {
    font: 400 25px 'Grenze Gotisch', sans-serif;
    color: var(--textLightGrey);
}

.pop-up-button {
    border: none;
    background-color: transparent; /* Use transparent instead of none */
}

.pop-up-button:hover {
    color: white; /* Adjust the variable name as needed */
}

.delete-pop-up {
  height: 200px;
  width: 400px;
  background-color: var(--lightBackgroundGrey);
}

.delete-pop-up-button,
.spell-pop-up-button {
  max-height: 40px;
  padding: 15px;
  border: none;
  background: none;
  text-align: center;
  font-size: 1.5vw;
  line-height: 15px;
}

.delete-pop-up-button:hover {
  font-size: 1.7vw;
  line-height: 15px;
  text-align: center;
}

.spell-pop-up {
  height: 70vh;
  width: 60vw;
  border: solid 1px var(--lightBackgroundGrey);
  background-color: var(--backgroundGrey);
}

.spell-pop-up-button {
  color: var(--textGrey);
}

.spell-pop-up-title-field,
.spell-pop-up-field {
  display: inline-block;
  overflow-y: auto;
}

.spell-pop-up-title-field {
  padding-bottom: 10px;
  color: var(--textGrey);
  font-size: 0.9vw;
}

.spell-pop-up-field {
  background-color: var(--lightBackgroundGrey);
  padding: 5px 5px 10px 5px;
  font-size: 1vw;
  height: 2.5em;

}

/* Universal */

.hover-red:hover {
  cursor: pointer;
  background-color: rgb(75, 5, 5)
}

/* Select Characters */

.character-select-box {
    background-color: var(--inputGrey);
    max-height: 600px;
    border-radius: 10px;
    overflow-y: scroll;
}

.choose-character {
    background-color: var(--backgroundGrey);
    border-radius: 20px;
    text-decoration: none;
    border: none;
}

.plus-symbol {
    max-width: 70%;
    transition: max-width 0.3s ease-in-out; /* Add 's' for seconds and specify ease-in-out */
}

.dnd-sheet {
  cursor: pointer;
  position: absolute;  
	display: flex;
	align-items: center;
	z-index: 4;
}

.dnd-sheet-noflex {
  position: absolute;  
	z-index: 4;
}

.character-sheet {
  border-radius: 40px;
}

.trait-title {
  padding: 0px 5px 5px 5px;
	font-size: 12px;
	color: var(--textLightGrey);
}

.trait-container {
	max-width: 230px;
  padding-bottom: 40px;
  padding-top: 10px;
  border-bottom: 1px solid var(--lightBackgroundGrey);
}

.trait-field-container {
	padding: 0px 0px 15px 5px;
}

.trait-field {
  width: 95%;
  overflow-y: auto;
  max-height: calc(4 * 1.5em);
  padding: 0px 15px 0px 0px;
  word-break: break-all;
}

/* Equipment css*/

.equipment-title {
  padding: 0px 5px 0px 5px;
	font-size: 10px;
	color: var(--textLightGrey);
}

.equipment-container {
  max-width: 200px;
  padding-bottom: 15px;
  padding-top: 5px;
  border-bottom: 1px solid var(--lightBackgroundGrey);
}

.equipment-field-container {
	padding: 0px 0px 5px 5px;
}

.equipment-field {
  width: 95%;
  font-size: 10px;
  overflow-y: auto;
  max-height: calc(4 * 1em);
  padding: 0px 10px 0px 0px;
  word-break: break-all;
}

.attack-first-field,
.attack-second-field,
.attack-third-field {
  color: white;
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0px;
}

.attack-first-field,
.attack-second-field {
  margin-right: 7px;
}

.attack-third-field {
  justify-content: space-between;
}

