.login-field,
.change-details-field {
    color: white;
    padding: 10px;
    background-color: var(--inputGrey);
    border: none;
}

.login-field {
    width: 80%;
}

.login-button {
    border-radius: 20px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: var(--textGrey);
    background-color: var(--inputGrey);
}

.login-button:hover {
    color: var(--textLightGrey);
    background-color: var(--textGrey);
}

::placeholder {
    color: var(--textGrey);
}

/* Change Details */

.change-details-field {
    width: 100%;
}
