.login-field,
.change-details-field,
.create-character-field,
.skills-field,
.create-character-multichoice-field,
.edit-character-field {
    background-color: var(--inputGrey);
    border: none;
    color: white;
}

.login-field,
.change-details-field {
    padding: 10px;
}

.login-field {
    width: 80%;
}

.login-button {
    border-radius: 20px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: var(--textGrey);
    background-color: var(--inputGrey);
}

.login-button:hover {
    color: var(--textLightGrey);
    background-color: var(--textGrey);
}

::placeholder {
    color: var(--textGrey);
}


/* Change Details */

.change-details-field {
  width: 100%;
}

/* Create Character*/

.form-header {
	color: white;
  font: 400 55px 'Grenze Gotisch', sans-serif;
	padding-bottom: 10px;
}

.form-titles {
    color: var(--textGrey);
}

.form-title-border-right {
  border-right: 1px var(--textGrey) solid;
}

.form-title-border-left {
  border-left: 1px var(--textGrey) solid;
}

.create-character-button {
  font-size: 15px;
	border-radius: 20px;
  border: none;
  padding: 5px 10px 5px 10px;
  color: var(--textGrey);
  background-color: var(--inputGrey);
}

.create-character-button:hover {
	color: var(--textLightGrey);
  background-color: var(--textGrey);
}

.delete-property-button {
  max-height: 15px;
  padding: 0;
  border: none;
  background: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  font-size: 0.6vw;
  line-height: 15px;
}

.delete-property-button:hover {
  font-size: 0.9vw;
  line-height: 15px;
  text-align: center;
}

.multiple-property-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.multiple-property-container:hover {
  background-color: rgb(75, 5, 5);
}
/* Fields */

.edit-character-field {
  width: 100%;
  font-size: 16px; /* Change font size */
}

.create-character-field {
  max-height: 40px;
  padding: 3px 3px 3px 10px;
}

.create-character-container {
  padding: 2px 10px 10px 0px;
}

.create-character-multichoice-field {
  width: 80%;
}

.create-character-large-field {
  width: 280px;
}

.create-character-mid-field {
  Width: 135px;
}

.create-character-small-field {
	width: 60px;
}

.skill-section-margin {
    margin-bottom: 8px;
}

.skills-field {
    height: 63px;
    width: 63px;
    border-radius: 35px;
    padding: 5px;
}

.profficient-field {
    height: 15px;
    width: 15px;
    accent-color: var(--inputGrey);
    border: 5px solid var(--inputGrey);
    border-radius: 5px;
    /* Add any other styles you want here */
}



