.login-field,
.change-details-field,
.create-character-field,
.skills-field,
.create-character-multichoice-field,
.edit-character-field,
.description-field {
    background-color: var(--inputGrey);
    border: none;
    color: white;
}

.login-field,
.change-details-field {
    padding: 10px;
}

.login-field {
    width: 80%;
}

.login-button {
    border-radius: 20px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: var(--textGrey);
    background-color: var(--inputGrey);
}

.login-button:hover {
    color: var(--textLightGrey);
    background-color: var(--textGrey);
}

::placeholder {
    color: var(--textGrey);
}


/* Change Details */

.change-details-field {
  width: 100%;
}

/* Create Character*/

.form-header {
	color: white;
  font: 400 55px 'Grenze Gotisch', sans-serif;
	padding-bottom: 10px;
}

.form-titles {
  font-size: 0.9vw;
  color: var(--textGrey);
}

.form-title-border-right {
  border-right: 1px var(--textGrey) solid;
}

.form-title-border-left {
  border-left: 1px var(--textGrey) solid;
}

.create-character-button {
  font-size: 15px;
	border-radius: 20px;
  border: none;
  padding: 5px 10px 5px 10px;
  color: var(--textGrey);
  background-color: var(--inputGrey);
}

.create-character-button:hover {
	color: var(--textLightGrey);
  background-color: var(--textGrey);
}

.delete-property-button {
  max-height: 15px;
  padding: 0;
  border: none;
  background: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  font-size: 0.6vw;
  line-height: 15px;
}

.delete-property-button:hover {
  font-size: 0.9vw;
  line-height: 15px;
  text-align: center;
}

/* Multichoice */

.multiple-property-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.multiple-property-container:hover {
  background-color: rgb(75, 5, 5);
}

.multichoice-input-field {
  width: 91%;
}

.multichoice-edit-field-small {
  width: 85%;
}

.multichoice-edit-field,
.list-dropdown,
.list-item {
  width: 100%;
}

.multichoice-edit-field,
.down-arrow-container,
.basic-field-container {
  max-height: 40px;
}

/* List */
.down-arrow-container {
  position: relative;
  margin-bottom: 10px;
  height: 40px;
  background-color: var(--inputGrey)
}

.down-arrow {
  max-height: 12px; 
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%) rotate(0deg); 
  cursor: pointer;
  /* Set the transform origin to center */
  transform-origin: center;
}

.down-arrow.active {
  /* Rotate the arrow without changing its position */
  transform: translateY(-50%) rotate(180deg);
}

.list-dropdown {
  list-style: none;
  padding: 0px 0px 20px 0px;
  margin: 0px;
  background-color: var(--inputGrey);
  overflow: hidden;
  max-height: 40px;
  transition: max-height 0.4s, border 0.4s; 
  border: none; 
}

.list-dropdown.active {
  max-height: 800px;
  transition: max-height 1s, border 0.5s; 
  border: 1px solid rgb(43, 42, 42); 
}

.list-item,
.list-item-header {
  font-size: 17px;
  padding: 0px 15px 2px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textGrey);
  background-color: var(--inputGrey);
}

.list-item-header {
  font-size: 18px;
  color: var(--textLightGrey);
}

/* Fields */

.edit-character-field {
  width: 100%;
  font-size: 16px; /* Change font size */
}

.create-character-field {
  max-height: 40px;
  padding: 3px 3px 3px 10px;
}

.description-field {
  width: 100%;
  min-height: 60px;
  max-height: 100px;
  font-size: 15px;
  padding: 3px 3px 3px 10px;
}

.create-character-container {
  padding: 2px 10px 10px 0px;
}

.create-character-multichoice-field {
  width: 80%;
}

.create-character-large-field {
  width: 280px;
}

.create-character-mid-field {
  Width: 135px;
}

.create-character-small-field {
	width: 60px;
}

/* Skills Fields */

.skill-section-margin {
    margin-bottom: 8px;
}

.skills-field {
    height: 75px;
    width: 75px;
    border-radius: 35px;
    padding: 5px;
}

.profficient-field {
    height: 15px;
    width: 15px;
    accent-color: var(--inputGrey);
    border: 5px solid var(--inputGrey);
    border-radius: 5px;
    /* Add any other styles you want here */
}



