.login-field,
.change-details-field,
.create-character-field,
.skills-field {
    background-color: var(--inputGrey);
    border: none;
    color: white;
}

.login-field,
.change-details-field {
    padding: 10px;
}

.login-field {
    width: 80%;
}

.login-button {
    border-radius: 20px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: var(--textGrey);
    background-color: var(--inputGrey);
}

.login-button:hover {
    color: var(--textLightGrey);
    background-color: var(--textGrey);
}

::placeholder {
    color: var(--textGrey);
}


/* Change Details */

.change-details-field {
  width: 100%;
}

/* Create Character*/

.form-header {
	color: white;
  font: 400 55px 'Grenze Gotisch', sans-serif;
  padding-bottom: 15px;
}

.form-titles {
    color: var(--textGrey);
}

.form-title-border-right {
  border-right: 1px var(--textGrey) solid;
}

.form-title-border-left {
  border-left: 1px var(--textGrey) solid;
}

.create-character-button {
	border-radius: 20px;
  border: none;
  padding: 5px 10px 5px 10px;
  color: var(--textGrey);
  background-color: var(--inputGrey);
}

.create-character-button:hover {
	color: var(--textLightGrey);
  background-color: var(--textGrey);
}

/* Fields */

.create-character-field {
    max-height: 40px;
    padding: 3px;
}

.skill-section-margin {
    margin-bottom: 10px;
}

.skills-field {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    padding: 5px;
}

.profficient-field {
    height: 20px;
    width: 20px;
    accent-color: var(--inputGrey);
    border: 5px solid var(--inputGrey);
    border-radius: 5px;
    /* Add any other styles you want here */
}


