html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font: 18px 'Grenze', sans-serif;
  background-color: var(--backgroundGrey);
  color: white; 
}

:root {
  --backgroundGrey: #262525;
  --lightBackgroundGrey: #4D4A4A;
  --inputGrey: #353535;
  --textGrey: #636060;
  --textLightGrey: #B6B1B1;
  --lightestGrey: #cfc8c8;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

